@charset "utf-8";
/* CSS Document */


/* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(90deg, #11998e, #38ef7d);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}




h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

h4 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-color: #9b9b9b;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

footer {
	font-family: "Archivo Black", sans-serif;
    font-weight:normal;
	font-size: .7em;
	
	text-align: center;
	margin-bottom: 50;
	margin-bottom: 0;
	color: #9b9b9b;
	float:center;
	position:absolute;
	bottom: 0%;
}

.center {
margin: auto;
width: 60%;
padding: 10px;
}

/* demo */
body {
  background-color: #181123;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
margin: auto;
  width: auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.gradient-box {
  width: auto;
  position: relative;
  padding: 10% 2em;
  color: #FFF;
  background: #181123;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  /* !importanté */
  border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
  
}
.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(to right, #11998e, #38ef7d);
}
/* demo */
.animated-gradient {
  width: auto;
  position: relative;
  padding: 10% 2em;
  color: #FFF;
  background: #181123;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  /* !importanté */
  border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
  
}
.animated-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: repeating-linear-gradient(to right, #11998e, #38ef7d, #11998e);
  width: auto;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient .5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/* Loading Bar */
.animated-gradient {

}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

/* Answer Box */
.source-box {
    position: sticky;
	color: #9b9b9b;
  /* font-size: 4vw; */
}


/* Link Styling */
a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: repeating-linear-gradient(to right, #11998e, #38ef7d, #11998e);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {
  height: .2em;
}

